@media only screen and (max-width: 600px) {
  body {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  body {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  /* default background color for all components */
  background-color: #262626;
  background-image: url("https://slktdj-s3-bucket.s3.amazonaws.com/backgrounds/bluedrag.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
input {
  /* font-family: "Poppins", "sans-serif"; */
  font-family: "Times New Roman", Times, serif;
  color: yellow;
}
