@media only screen and (max-width: 600px) {
  .liveMainContainer {
    padding: 10px;
  }
  .liveMiddlePlayer {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .liveMainContainer {
    flex-direction: column;
    padding: 20px;
  }
  .liveMiddlePlayer {
    width: 80%;
  }
}

@media only screen and (min-width: 1280px) {
  .liveMainContainer {
    padding: 20px;
  }
  .liveMiddlePlayer {
    width: 60%;
  }
}

.liveMainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.liveTopContainer {
  display: flex;
  justify-content: space-between;
}

.speaker {
  width: 15%;
  height: auto;
}

.djGuy {
  width: 15%;
  height: auto;
}

.welcomeConstructionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.slktWebsiteTitle {
  width: 100%;
  height: auto;
}

.constructionImg {
  width: 100%;
  height: auto;
}

.liveMiddleContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.chatContainer {
  width: 25%;
}

.middleLevel {
  width: 10%;
}

.liveMiddlePlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  width: 100%;
  border: 2px solid blue;
}

.liveBottomContainer {
  display: flex;
  justify-content: center;
}
