@media only screen and (max-width: 600px) {
  .liveMainContainer {
    flex-direction: column;
    align-items: center;
  }
  .chatContainer {
    width: 100%;
  }
  .siteGif {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .liveMainContainer {
    flex-direction: column;
  }

  .siteGif {
    width: 200px;
    height: 200px;
  }
  #gif1 {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  /* .liveMainContainer {
    flex-direction: row;
  } */

  .liveMiddlePlayer {
    width: 50%;
  }
  .chatContainer {
    width: 25%;
  }
  .siteGif {
    width: 300px;
    height: 300px;
  }
}

.liveMainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  /* adding padding to all componets to account for pop up player div */
  padding-bottom: 122px;
}

.liveTopContainer {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.liveMiddleContainer {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.liveBottomContainer {
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
}

.liveMiddlePlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  width: 100%;
}
